@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, ::before, ::after{
    margin: 0;    
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --bg1: #020c1b;
    --text1: #8ee4af;
    --text2: #edf5e1;
    --link1: #5cdb95;
    --link2: #907163;
    --link3: #379683;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
p, li{
    font-size: 2rem;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: var(--bg1);
    color: var(--text1);
    scroll-behavior: smooth;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 80px;
}
section:nth-child(1){
    color: var(--text1);
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}


#intro .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 20px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#intro img{
    border-radius: 50%;
    /* height: calc(100vh - 100px); */
    height: 90vh;
    margin-left: 100px;
}

#job{
    display: grid;
    place-content: center;
}


.credits{
    flex-direction: column;
}