@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, ::before, ::after{
    margin: 0;  
    padding: 0;  
    text-decoration: none;
    box-sizing: border-box;
}

html{
    /* --bg1: #020c1b;
    --text1: #8ee4af;
    --text2: #edf5e1;
    --link1: #5cdb95;
    --link2: #907163;
    --link3: #379683; */
    --bg1: #222;
    --bg2: #333;
    --text1: #dddee0;
    --text2: #e45735;
    --link1: #5cdb95;
    --link2: #907163;
    --link3: #379683;
}
a{
    color: var(--text2);
}

h1{
    font-size: 5rem;
    font-weight: bolder;
}
h2{
    font-size: 4rem;
}
p, li{
    font-size: 2rem;
    font-weight: lighter;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: var(--bg1);
    color: var(--text1);
    scroll-behavior: smooth;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* border: solid 20px var(--bg1); */
    /* margin: 0 80px; */
    padding: 20px 80px;
}
section:nth-child(2){
    background-color: var(--bg1);
    /* font-color: #FFD100; */

}

section > h2 {
    margin: 0 auto;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}



#intro .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 20px;
} 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
#intro h2{
    font-size: 3rem;
}
#intro h1{
    color: #e0a526;

}
#intro img{
    width: 100vh;
}



#aboutme img{
    width: 80%;
}



#job{
    display: grid;
    place-content: center;
}



/* Skills Page */
#skills{
    display: flex;
    flex-direction: column;
}
#skills ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-grow: 1;
    place-content: center;
}
#skills li{
    justify-self: center;
    align-self: center;
}
#skills li:nth-child(1){
    grid-column: 1;
    grid-row: 1;
}
#skills li:nth-child(2){
    grid-column: 2;
    grid-row: 2;
}
#skills li:nth-child(3){
    grid-column: 3;
    grid-row: 3;
}
#skills li:nth-child(4){
    grid-column: 4;
    grid-row: 4;
}
#skills li:nth-child(5){
    grid-column: 5;
    grid-row: 5;
}



/* Download Resume */
#resume iframe{
    flex: 1 1 auto;
}


/* Social Media and links */
#socials{
    display: flex;
    flex-direction: column;
}
#socials .links{
    flex: 1 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#socials .links a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#socials img{
    --icon-size: 80px;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-top: 10px;
}
#socials button{
    margin: 0 auto;
    width: fit-content;
    padding: 1.25em;
    background-color: #fcaebb;
}


#email{
    display: flex;
    /* align-items: center; */
}
#email > *{
    display: grid;
    place-items: center;
    flex: 1 1;
}
#email .center{
    flex: 1 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
#email textarea, input{
    background-color: #333;
    border-radius: 10px;
    /* min-width: 500px; */
    min-height: 40px;
    max-width: 50vw;
}
#email textarea{
    flex: 1 0;
}
#email button{
    border-radius: 10px;
    background-color: var(--text2);
    color: var(--text1);
    padding: 1em 2em;
}
#email label, button{
    margin: 10px 0;
}


/* Credits Page */
.credits{
    flex-direction: column;
    align-items: center;
}