@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --cool-font: italic clamp(1.25em, 15vmin, 7em) / 1.25 marck script, purisa,
    segoe script, comic sans ms, cursive;
  --cool-font2: "Courier New", Courier, monospace;
  
  --bg1: #222;
  --bg2: #333;
  --text1: #dddee0;
  --text2: #e0a526;
  
  overflow-x: hidden;
  color: var(--text1);
  background-color: var(--bg1);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.maincontainer{
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
h1{
  color: var(--text2);
  font: var(--cool-font);
  font-size: clamp(1.5rem, 10vmin, 5rem);
}
h3  {font-size: clamp(1.5rem, 9vmin, 4rem);}
h4  {font-size: clamp(0.5rem, 5vmin, 2.5rem);}

h2  {font-size: clamp(2rem, 10vmin, 4rem); text-align: center;}
p , a, li{font-size: clamp(1rem, 4vmin, 1.5rem);}
li  {margin-left: 25px;}
a   {color: var(--text2)}

img{width: clamp(320px, 50vmax, 80vh);}

section{
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.left, .right{
  display: grid;
  place-items: center;
  height: auto;
  flex: 1 1;
  margin: clamp(25px, 2vmax, 100px);
}


#intro .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 20px;
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }





/* Skills Page */
#skills .content-bot > ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1;

  font: var(--cool-font);
  font-weight: 900;
  color: var(--text2);
  text-align: center;
  text-decoration: none;
  list-style: none;
}

#skills .skill {
  position: relative;
  padding: 1rem 0em;
  width: 250px;

  display: flex;
  flex-direction: column;
}
#skills .skill::after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transform-origin: 0 100%;
  transform: scaleY(0.02);
  transition: transform 0.25s;

  background: #444;
  mix-blend-mode: lighten;
}
#skills .skill:hover {
  outline: none;
}
#skills .skill:focus::after,
#skills .skill:hover::after {
  transform: none;
}

#skills .skill > ul {
  width: 250px;
  z-index: 1;

  font-family: var(--cool-font2);
  text-align: left;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}
#skills .project > li {
  padding: 25px 0;
}






/* Download Resume */
#resume iframe,
#resume .right {
  display: flex;
  flex: 1 1;
  height: 100%;
}
@media screen {
  
}




/* Social Media and links */
#email{
  display: flex;
}
#email > * {
  display: grid;
  place-items: center;
  flex: 1 1;
  padding: 2em;
}
#email .links {
  flex: 1 1;
  display: flex;
  align-items: flex-start;
  text-align: center;
}
#email .links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 3em;
}
#email .links img {
  --icon-size: 80px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: 10px;
}

#email form {
  color: var(--text2);
  font-family: var(--cool-font2);
  font-weight: 700;
  text-align: start;
  padding: 30px;
  border-radius: 40px;
  border-top: 5px solid var(--text2);
  border-bottom: 10px solid var(--text2);
}
#email .center {
  flex: 1 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
#email textarea,
#email input {
  color: var(--text1);
  background-color: var(--bg2);

  border-radius: 10px;
  border: none;
  padding: 10px;

  height: clamp(30px, 4vmin, 1.5rem);;
  width: clamp(1rem, 80vmin, 80ch);;
  resize: none;
}

#email textarea:hover,
#email textarea:focus,
#email textarea:active,
#email textarea::selection,
#email input:active,
#email input:focus,
#email input::selection,
#email input:hover{
  box-sizing: border-box;
  outline: none;
  border-bottom: 5px solid white;

}

#email textarea {
  flex: 1 0;
}
#email button {
  border-radius: 10px;
  padding: 1em 2em;
  background-color: var(--text2);
  color: var(--bg1);
  font-size: clamp(1em, 5vmin, 1.5em);
}
#email button:active{
  border: 5px solid white;
}
#email label,
#email button {
  margin: 10px 0;
}